/*Taken from http://www.biostat.wisc.edu/~kbroman/D3/corr_w_scatter/corr_w_scatter.css*/
body {
    font-family: sans-serif;
}
svg {
  margin-top:  10px;
  margin-left: 50px;
}
.line {
  stroke-width: 0.5;
  fill: none;
}
text {
 font-family: sans-serif;
 font-size: 11pt;
}
div#legend {
  margin-left: 100px;
  width: 500px;
}